@import "_variables.scss";
@import "_animations.scss";

*,::before,::after {
    padding: 0; 
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Libre Franklin", sans-serif;
    font-size: 20px; 
    width: 100%;
}

.header {
    margin-top: 3rem; 
    display: flex;
    flex-direction: column;
    .logo {
        margin: 0 auto; 
        padding-bottom: 2rem; 
        padding-left: 1rem; 
        img {
            width: 80%
        }
    }

    p {
        font-size: 1.5em;
        margin: 0 auto;
        padding-bottom: 0.8rem;
        color: $gray;
        font-weight: 700;
        letter-spacing: 3px;
        font-weight: 300;
        .bold {
            color: $darkBlue;
            font-weight: 700;
        }
    }

    .last-p {
        letter-spacing: 0;
        font-weight: 600;
        font-size: 0.8em;
    }

    .wrapper__button {
        margin: 0 auto;
        padding-top: 1rem;
        .wrapper__input {
            animation: opacity 1s forwards;
            display: flex; 
            :first-child {
                animation: LeftToRight 1s; 
                width: 25rem;
                height:2.2rem;
                border-radius: 15px;
                border: none; 
                border: 1px solid $paleBlue; 
            }

            .border__red__error {
                border: 1px solid $red; 
            }

            :last-child {
                margin-left: 0.8rem; 
                padding: 0.6rem 3rem;
                border-radius: 15px;
                border: none; 
                background-color: $blue;
                color: white; 
                font-weight: 300;
                cursor: pointer;
                box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0, 0, 0, 0.322);
                transition: all 0.3s cubic-bezier(.25,.8,.25,1);
                animation: RightToLeft 1s; 
            }

            :last-child:hover {
                box-shadow: 0 7px 14px rgba(0,0,0,0.25), 0 5px 5px rgba(0, 0, 0, 0.041);
            }

        }

        form {
            .error {
                display: none;
                animation: errorMsg 1s;
                font-size: 0.5em;
                letter-spacing: 1px;
                font-style: italic;
                padding: 0.4rem 0 0 1rem;
                color: $red;
            }
            .active {
                display: block;
            }
            .disable {
                display: none; 
            }

            .error__mobile {
                animation: errorMsg 1s;
                display: none; 
            }
        }

        input {
            outline: none; 
            padding-left: 1rem; 
            color: $gray;
        }
    }
}

.dashboard {
    animation: opacity 1s forwards;
    display: flex; 
    justify-content: center;
    margin-top: 4rem; 
    img {
        animation: scale 1s forwards;
        width: 30%;
        min-width: 550px;
    }
}


footer {
    margin-top: 5rem; 
    .wrapper__icons__social {
        margin-bottom: 1.5rem; 
        svg {
            margin-right: 0.5rem; 
            width: 40px;
            height: 40px; 
            border: 1.5px solid $paleBlue;
            border-radius: 50%;
            padding: 10px;
            fill: $blue; 
            transition: all .3s ease;
            cursor: pointer;
        }

        svg:hover {
            transition: all .3s ease;
            fill: white;
            background-color: $blue;
            border: 1.5px solid $blue;
            transform: scale(1.07);
        }
    }

    p {
        color: $gray; 
        font-size: 0.8em;
        margin-bottom: 5rem; 
    }

    .wrapper__icons__social, p{
        display: flex; 
        justify-content: center;
    }

    img { 
        border-radius: 100%;
        width: 32px;
        height: 31px; 
        padding: 6px; 
        border: 1px solid black;
    }
}





@media( max-width: 600px) {

    body {
        font-size: 12px;
    }
    .header {
        .wrapper__button {
            margin:1rem;
            form {
                .error {
                    display: none;
                }

                .error__mobile {
                    display: none; 
                    font-size: 0.8em;
                    letter-spacing: 1px;
                    margin-bottom: 0.5rem;
                    font-style: italic;
                    color: $red;
                }
                .active {
                     display: block; 
                }

            }
            .wrapper__input {
                display: flex; 
                flex-direction: column;

                #email {
                    margin-bottom: 0.5rem; 
                    width: 100%;
                }

                #submit {
                    margin: 0; 
                    width: 100%;
                }
            }
        }
    }

    .dashboard {
        margin-top: 1rem; 
        img {
            padding: 0 1rem;
            width: 100%; 
            min-width: 0; 
        }
    }
    
    footer {
        margin-top: 1rem; 
        p {
            margin-bottom: 2rem;
        }
    }
}

